header {
    background-color: #e24647;
    color: #fff;
    overflow: hidden;
    
    margin: 0 115px; 

    padding: 55px 60px 95px;

}

body {
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

h1 {
    font-size: 40px;
    font-family: Arial,"Roboto Condensed", Helvetica, sans-serif;
    float: left;
    opacity: 0.8;
    
}

a {
    text-decoration: none;
    color: inherit;
    margin-right: 60px;
}

nav {
    font-size: 21px;    
    font-family: "Segoe UI","Roboto Condensed",Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    float: right;  
}

#last {
    margin-right: 0;
}
