.container-store {
    background-color: #e24647;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    /* padding: 55px 60px 95px 0;*/
    padding: 55px 60px 165px 0;
}

 .container-store .like-product {
        position: absolute;
        bottom: 69%;
        right: 62%;
        margin-right: 46px;
}
